/* .base-card {
    background-color: #B3CEE5;
} */

/* .overview {
    height: 200px;;
} */

.card-title {
    font-family: "Aldrich";
}

.previous-runs, current_runs {
    margin-bottom: 0.5em;
}

td {
    word-wrap: break-word;
    min-width: 160px;
    max-width: 160px;
}

table {
    background-color: #fff7ed;
}

td a svg {
    margin-bottom: 4px;
}

mark {
    background: #FF6978;
    color: #ffffff;
}

.page-link{
    color: #3C6E71;
}

.page-item.active > a{
    background-color: #3C6E71 !important;
    border-color: #3C6E71 !important;
}

.detail-view {
    background-color: #fffaf4;
}

.fixed-table-body {
    background-color: #fdfaf6;
}

.alert-bg-color {
    background-color: #d9e6f2;
}

.alert-link {
    color: #4182be;
}

.alert-link:hover {
    color: #346898;
}