html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff7ed;
}

.login-card {
    max-width: 350px;
    background-color: #ecf3f8;
    border-radius: 32px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.22);
}

.title {
    font-family: "Aldrich";
    font-size: 24px;
}

.card-header {
    background-color: #b3cee5;
    padding: 15px;
    border-top-left-radius: 32px !important;
    border-top-right-radius: 32px !important;
}

.card-body {
    padding: 20px;
}

.logo-title {
    font-size: 50px;
    color: #fff;
    font-family: "Aldrich";
}

.logo-subtitle {
    font-size: 15px;
    color: #fff;
    font-family: "Aldrich";
}

.toggle-text {
    font-family: "Aldrich";
}

.toggle-link {
    display: inline-block;
    position: relative;
    color: #2E5C85;
    cursor: pointer;
    text-decoration: none;
}

.toggle-link:hover {
    color: #21425f;
}

.toggle-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #21425f;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.toggle-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.submit-button {
    font-family: "Aldrich";
    background-color: #FE6D73;
    border: none;
    width: 90px;
    border-radius: 0;
}

.submit-button:hover {
    background-color: #fe4d53;
}