/* .result-card {
    background-color: #B3CEE5;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
} */

.card-title {
    font-family: "Aldrich";
    display: block;
    margin-bottom: 1em;
    background-color: antiquewhite;
    width: 6rem;
}

#root {
    margin: 0 auto;
    background-color: #fff7ed;
    border-radius: 10px;
}

.results {
    font-family: monospace;
    font-size: 20px;
    white-space: nowrap;
}

.responsive-line {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.counter {
    font-size: 16px;
    border-right: 1px solid black;
    margin-right: 0.5em;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.copy {
    width: 100px;
    font-size: 12px;
}

.copy:focus {
    outline: unset;
    box-shadow: unset;
}

#rna_ss {
    background-color: #fff7ed;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
}

.modal-header {
    background-color: #B3CEE5;
    border-bottom: 2px solid black;
}

.light-background {
    background-color: #fff7ed;
}

hr {
    margin-top: 0;
}

.options-title {
    font-size: 18px;
}