{% load static %}
{% load guest_user %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/ntua.svg' %}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {%block head%}{% endblock %}
    </head>

    <body>
        <div class="container-fluid overflow-auto vh-100 p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand mb-0 h1" href="/">KNOTIFY</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <span class="navbar-text">An RNA pseudoknot predition tool</span>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" href="/team">Research Team</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/research">Scientific Literature</a>
                      </li>
                      <li class="nav-item">
                        {% if user|is_guest_user %}
                        <a class="nav-link" onclick="convert()" href="#">Login</a>
                        {% else %}
                        <a class="nav-link" onclick="logout()" href="#">Log out</a>
                        {% endif %}
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              <!-- Temp warning about developmental stage -->
              <div class="alert alert-warning alert-dismissible fade show d-flex" role="alert">
                <i class="bi bi-cone-striped me-2"></i>
                <div>This site is still under development! Try it out, but keep in mind that everything is subject to change.</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <div class="container bg-white">
                <div class="row p-4" style="background-color: #ECF3F8;">
                    {% block body%}
                    {% endblock %}
                </div>

            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script type='text/javascript'>
            function logout(){
                base_url = window.location.protocol + '//' + window.location.host + '/'
                var url = 'logout/';
                var cookie = document.cookie;
                var split = cookie.split("=");
                var token = split[1];
                fetch(base_url + 'logout/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': token,
                    },
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if(data.hasOwnProperty('status') && data['status']=='good'){
                        window.location.replace(base_url + 'login/');
                    }
                });
            }
            function convert(){
                base_url = window.location.protocol + '//' + window.location.host + '/';
                window.location.href = base_url + 'login/';
            }
        </script>
    </body>
</html>
