{% extends 'base.html' %}
{% load static %}
{% load guest_user %}
{% block head %}
    <title>Knotify</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="{% static 'js/home.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script>
{% endblock %}

{% block body %}
    <div class="alert alert-bg-color alert-dismissible fade collapse" role="alert" id="guest-history-alert">
        <i class="bi bi-info-circle"></i>
        You can keep your history by creating an account. No personal info is needed, just a simple username and password combination! To sign up, click <a href="login/" class="alert-link">here</a> or click on convert link on the navbar at any time.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- <div class="base-card overview"> -->
    <div class="card-decor overview">
        <div>
            <div>
                <u class="card-title">Overview</u>
            </div>
            <div>
                <p style="font-size: 14px; margin-left:1em;">This is my diploma thesis</p>
            </div>
        </div>
        <div id='history-container'>
            {% if current_runs or previous_runs %}
            <div id="history-title">
                <u class="card-title">History</u>
            </div>
            {% endif %}
            <div>
                <div class="current-runs" id="current-runs-container">
                    {% if current_runs %}
                    <div class="d-flex justify-content-between">
                        <div>Current Runs</div>
                        <a data-bs-toggle="collapse" href="#current-runs" role="button" aria-expanded="true" aria-controls="current-runs" id="current-runs-button">Hide</a>
                    </div>
                    <div class="table-responsive collapse show" id="current-runs">
                        <table class="table table-hover table-bordered table-sm" id="current-runs-table" data-height="240">
                            <thead>
                                <tr>
                                    <th data-field="id">ID</th>
                                    <th data-field="sequence">Sequence</th>
                                    <th data-field="submitted">Submitted</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    {% endif %}
                </div>
                <div class="previous-runs" id="previous-runs-container">
                    {% if previous_runs %}
                    <div class="d-flex justify-content-between">
                        <div>Previous Runs</div>
                        <a data-bs-toggle="collapse" href="#previous-runs" role="button" aria-expanded="true" aria-controls="previous-runs" id="previous-runs-button">Hide</a>
                    </div>
                    <div class="table-responsive collapse show" id="previous-runs">
                        <div id="toolbar"></div>
                        <table class="table table-hover table-bordered table-sm" id="previous-runs-table" data-toggle="previous-runs-table"
                               data-pagination="true" data-page-list="[10, 25, 50, 100, 200, All]"
                               data-detail-view="true" data-detail-view-icon="false" data-detail-formatter="detailFormatter"
                               data-buttons-prefix="btn-sm btn" data-show-columns="true"
                               data-buttons-class="danger"
                               data-icon-size="sm" data-height="460" data-toolbar="#toolbar"
                               data-search="true" data-search-highlight="true" data-search-align="left"
                               data-sort-name="completed" data-sort-order="desc"
                               data-header-style="headerStyle"
                               >
                            <thead>
                                <tr>
                                    <th data-field="id" data-sortable="true">ID</th>
                                    <th data-field="sequence" class="text-truncate" data-sortable="true">Sequence</th>
                                    <th data-field="structure" class="text-truncate" data-sortable="true">Structure</th>
                                    <th data-field="submitted" data-sortable="true">Submitted</th>
                                    <th data-field="completed" data-sortable="true">Completed</th>
                                    <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <form class="p-2 mt-5 card-decor" onsubmit="submitFunction(); return false;">{% csrf_token %}
        <div class="form-group">
            <div>Enter your RNA sequence here.</div>
            <input type="text" class="form-control my-2" id="RNA-sequence" name="sequence" placeholder="" oninput="this.value = this.value.replace(/[^aAuUgGcC]/g, '');" required>
        </div>
        <div>
            <h5>Options</h5>
            <hr style="margin:0px;">
        </div>
        <div class="row mt-2 mb-3">
            <div class="col border">
                <span class="option-title">Pseudoknot Options</span>
                <div style="border: 1px solid black;">
                    <div>Parser:</div>
                    <div>
                        <input type="radio" name="parser" value="yaep" id="yaep" checked>
                        <label for="yaep">yaep</label>
                        <input type="radio" name="parser" value="bruteforce" id="bruteforce">
                        <label for="bruteforce">bruteforce</label>
                    </div>
                    <div>
                        <input type="checkbox" id="allow-ug" name="allow_ug" value="True">
                        <label for="allow-ug">allow-ug</label>
                    </div>
                    <div>
                        <input type="checkbox" id="allow-skip-final-au" name="allow_skip_final_au" value="True">
                        <label for="allow-skip-final-au">allow-skip-final-au</label>
                    </div>
                    <div>
                        <label for="max-dd-size">max-dd-size:</label>
                        <input type="number" id="max-dd-size" name="max_dd_size" value="2" min="0" max="20" style="width:50px" required>
                    </div>
                    <div>
                        <label for="min-dd-size">min-dd-size:</label>
                        <input type="number" id="min-dd-size" name="min_dd_size" value="0" min="0" max="20" style="width:50px" required>
                    </div>
                    <div>
                        <label for="max-window-size">max-window-size:</label>
                        <input type="number" id="max-window-size" name="max_window_size" value="204" min="6" max="1000" style="width:70px" required>
                    </div>
                    <div>
                        <label for="min-window-size">min-window-size:</label>
                        <input type="number" id="min-window-size" name="min_window_size" value="6" min="6" max="1000" style="width:70px" required>
                    </div>
                    <div>
                        <label for="max-stem-allow-smaller">max-stem-allow-smaller:</label>
                        <input type="number" id="max-stem-allow-smaller" name="max_stem_allow_smaller" value="2" min="0" max="10" style="width:70px" required>
                    </div>
                    <div>
                        <input type="checkbox" id="prune-early" name="prune_early" value="True">
                        <label for="prune-early">prune-early</label>
                    </div>
                </div>
            </div>
            <div class="col border">
                <span class="option-title">Hairpin Options</span>
                <div style="border: 1px solid black;">
                    <div>
                        <input type="checkbox" id="hairpin-grammar" name="hairpin_grammar" value="True">
                        <label for="hairpin-grammar">hairpin-grammar</label>
                    </div>
                    <div>
                        <input type="checkbox" id="hairpin-allow-ug" name="hairpin_allow_ug" value="True">
                        <label for="hairpin-allow-ug">hairpin-allow-ug</label>
                    </div>
                    <div>
                        <label for="min-hairpin-size">min-hairpin-size:</label>
                        <input type="number" id="min-hairpin-size" name="min_hairpin_size" value="3" min="1" max="10" style="width:70px" required>
                    </div>
                    <div>
                        <label for="min-hairpin-stems">min-hairpin-stems:</label>
                        <input type="number" id="min-hairpin-stems" name="min_hairpin_stems" value="3" min="1" max="20" style="width:70px" required>
                    </div>
                    <div>
                        <label for="max-hairpins-per-loop">max-hairpins-per-loop:</label>
                        <input type="number" id="max-hairpins-per-loop" name="max_hairpins_per_loop" value="1" min="0" max="2" style="width:70px" required>
                    </div>
                    <div>
                        <label for="max-hairpin-bulge">max-hairpin-bulge:</label>
                        <input type="number" id="max-hairpin-bulge" name="max_hairpin_bulge" value="0" min="0" max="5" style="width:70px" required>
                    </div>
                </div>

                <span class="option-title mt-3 d-block">Energy Options</span>
                <div style="border: 1px solid black;">
                    <div>energy:</div>
                    <div>
                        <input type="radio" name="energy" value="vienna" id="vienna" checked>
                        <label for="vienna">vienna</label>
                        <input type="radio" name="energy" value="pkenergy" id="pkenergy">
                        <label for="pkenergy">pkenergy</label>
                    </div>
                </div>

            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="form-submit-btn">Submit</button>
    </form>

        <!-- Submit/Inform Modal -->
        <div class="modal fade" id="submitModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="submitModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" id="modal-options">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-center" id="submit-modal-text">
                            <!-- Here we insert modal's content programmatically -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetInformCompleted();">Close</button>
                    </div>
                </div>
            </div>
        </div>

    <script>
        // Note: previous_runs and current_runs are used only for table initialization
        {% if previous_runs %}
        window.previous_runs = {{ previous_runs | safe }}; // used only to initialize previous runs table
        window.previous_runs_ids = new Set({{ previous_runs_ids | safe }});
        {% else %}
        window.previous_runs = []; // used only to initialize previous runs table
        window.previous_runs_ids = new Set();
        {% endif %}
        {% if current_runs %}
        window.current_runs = {{ current_runs | safe }};
        {% else %}
        window.current_runs = [];
        {% endif %}
        {% if latest_history_uuid %}
        window.latest_history_uuid = '{{ latest_history_uuid | safe }}';
        {% else %}
        window.latest_history_uuid = "";
        {% endif %}
        {% if user|is_guest_user %}
        window.is_guest_user = true;
        {% else %}
        window.is_guest_user = false;
        {% endif %}

        /** format previous runs table detail view */
        function detailFormatter(index, row) {
            var html = []
            $.each(row, function (key, value) {
                if(key == 'sequence' || key == 'structure'){
                    html.push('<p><b class="user-select-none me-1">' + key + ':</b>' + '<span class="user-select-all">' + value + '</span>' + '</p>');
                }
            })
            return html.join('')
        }

        /** define previous runs table header presentation */
        function headerStyle(column) {
            return {
                operate: {
                    classes: 'text-center'
                }
            }[column.field]
          }

        /** define actions column presentation */
        function operateFormatter(value, row, index) {
            return [
                '<div class="d-flex justify-content-evenly">',
                    '<a class="expand" href="javascript:void(0)" title="Expand Entry">',
                        '<i class="bi bi-arrow-down-left-square"></i>',
                    '</a>  ',
                    '<a class="result" href="results/?uuid='+row.id+'" title="Go to">',
                        '<i class="bi bi-box-arrow-in-up-right"></i>',
                    '</a>  ',
                    '<a class="remove" href="javascript:void(0)" title="Remove">',
                        '<i class="bi bi-trash-fill"></i>',
                    '</a>',
                '</div>'
            ].join('')
        }
        // define actions column functionality
        window.operateEvents = {
            'click .expand': function (e, value, row, index) {
                var $table = $('#previous-runs-table');
                $table.bootstrapTable('toggleDetailView', index)
            },
            'click .result': function (e, value, row, index) {
            },
            'click .remove': function (e, value, row, index) {
                var $table = $('#previous-runs-table');
                $table.bootstrapTable('showLoading');
                // delete entry on server
                var cookie = document.cookie;
                var split = cookie.split("=");
                var token = split[1];
                var url = window.location.protocol + "//" + window.location.host + '/delete_run/';
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': token,
                    },
                    body: JSON.stringify({'run_uuid':row.id})
                })
                .then(response => response.json())
                .then(data => {
                    if(!data['success']){
                        // error handling
                        triggerPopUp('Run could not be deleted. <i class="bi bi-emoji-frown text-danger"></i>');
                        $table.bootstrapTable('hideLoading');
                        return;
                    }
                    $table.bootstrapTable('remove', {
                        field: 'id',
                        values: [row.id]
                    });
                    // remove element from window.previous_runs_ids and update window.latest_history_uuid
                    window.previous_runs_ids.delete(row.id);
                    var previous_runs = $table.bootstrapTable('getData');
                    if(previous_runs.length == 0){ // no more previous runs left on the table
                        window.latest_history_uuid = "";

                        var current_runs_table = document.querySelector('#current-runs-table');
                        if(!current_runs_table){ // no current nor previous runs left to display. Remove history section
                            var historyTitle = document.querySelector("#history-title");
                            historyTitle.remove();
                            var previous_runs_container = document.querySelector('#previous-runs-container');
                            removeAllChildNodes(previous_runs_container);
                            var current_runs_container = document.querySelector('#current-runs-container');
                            removeAllChildNodes(current_runs_container);
                        } else{ // remove just the previous runs section
                            var previous_runs_container = document.querySelector('#previous-runs-container');
                            removeAllChildNodes(previous_runs_container);
                        }
                    }else {
                        if(window.latest_history_uuid == row.id){ // latest_history_uuid needs updating
                            // find latest completed
                            var latest_id = previous_runs.at(0)["id"];
                            var latest_completed = previous_runs.at(0)["completed"];
                            previous_runs.forEach(obj => {
                                if(obj.completed > latest_completed){
                                    latest_completed = obj.completed;
                                    latest_id = obj.id;
                                }
                            });
                            window.latest_history_uuid = latest_id;
                        }
                        $table.bootstrapTable('hideLoading');
                    }
                });
            }
        }
    </script>
{% endblock %}
