{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Knotify</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block body %}

    <!-- <div class="base-card overview"> -->
    <div class="card-decor overview">
        <u class="card-title">Overview</u>
    </div>

    <!-- <form class="p-2 mt-5 base-card" action="results/" method="POST">{% csrf_token %} -->
    <form class="p-2 mt-5 card-decor" action="results/" method="POST">{% csrf_token %}
        <div class="form-group">
            <div>Enter your RNA sequence here.</div>
            <input type="text" class="form-control my-2" id="RNA-sequence" name="sequence" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
